.home {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../../assets/img/home-bg.jpg');
    background-size: 100% auto;
    background-position: bottom;
}

.home::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    content: '';
    z-index: 1;
}

.title {
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 5em;
    position: relative;
    z-index: 999;
}