.product-description {
    margin: 20px 0;
    padding: 10px;
    font-style: italic;
    font-size: 1em;
    border: 1px inset rgba(0,0,0,0.2);
    border-radius: 10px;
}

h2 {
    font-size: 1.5em;
}