.footing {
    color: white;
    text-align: center;
}

.footing span {
    display: block;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    width: 2em;
}