<section class="my-5 container">
    <h2>A propos votre commande du : </h2>

    <div class="my-3">
        <h3>Produits commandés</h3>
        <div class="card my-2" *ngFor="let product of orderDetail$ | async">
            <div class="card-header">
                <a [routerLink]="['/product/detail', product.product_name]">
                    {{ product.product_name }}

                    <div style="float: right;">
                        <span class="badge badge-info mx-1">{{product.quantity}} unités</span>
                        <span class="badge badge-info mx-1">{{product.product_price}} € / unité</span>
                        <span class="badge badge-danger mx-1">{{product.product_price * product.quantity}} € </span>
                    </div>
                </a>  
            </div>          
        </div>
    </div>
</section>