<section class="my-5 container">
    <h2 class="mb-3">Votre panier :</h2>

    <div *ngIf="(cartSize$ | async) != 0">

        <div class="card my-2" *ngFor="let product of productCart$ | async">
            <div class="card-header">
                {{product.name}} 
                <span class="badge badge-primary">{{product.price}} €</span>
                <button type="button" class="btn btn-primary mx-1" style="float: right;" (click)="RemoveFromCart(product)">Supprimer du panier</button>
                <button type="button" class="btn btn-secondary mx-1" style="float: right;" (click)="RemoveOneUnitFromCart(product)">Supprimer 1 unité</button>
            </div>
            <div class="card-body">
                <p class="card-text">Quantité : {{product.quantity}}</p>
                <p class="card-text">Sous total pour ce produit : {{product.quantity * product.price}} €</p>
            </div>
        </div>
    
        <span class="cart-info">Nombre d'éléments : {{ cartSize$ | async }}</span>
        <span class="cart-info">Valeur totale du panier : {{ cartValue$ | async }} €</span>
        <div class="cart-actions mt-3">
            <button type="button" class="btn btn-secondary" (click)="ClearCart()">Vider le panier</button>
            <button type="button" class="btn btn-primary" (click)="Order()">Valider votre achat !</button>
        </div>
    </div>

    
</section>
